 @import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-image: url("https://images.unsplash.com/photo-1586076100131-32505c71d0d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
}
#toDoTitle {
    font-size: 42px;
    font-family: 'Shantell Sans', cursive;
    font-weight: 500;
}

ul {
    font-family: 'Shantell Sans', cursive;
    font-weight: 400;
    font-size: 18px;
    box-shadow: -3px 3px 5px 1px rgba(0, 0, 0,.3);

}

#input {
    border: none;
    width: 100%;
}
textarea:focus, input:focus{
    outline: none;
}

::placeholder {
    opacity: .5;
}

li:hover #delete {
	opacity: 1;
}

/* span {
    float: right;
} */

#delete {
    color: red;
    font-size: 18px;
    float: right;
	text-align: center;
	display: inline-block;
	opacity: 0;
	transition: 0.2s linear;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
